---
- name: Creating directories for cinnamon configuration
  file:
    path: "{{ item }}"
    state: directory
  loop:
    - /home/{{ user }}/.local/share/cinnamon
    - /home/{{ user }}/.local/share/cinnamon/applets
    - /home/{{ user }}/.config/cinnamon
    - /home/{{ user }}/.config/cinnamon/spices
    - /home/{{ user }}/.config/cinnamon/spices/multicore-sys-monitor@ccadeptic23
    - /home/{{ user }}/.config/cinnamon/spices/power@cinnamon.org
    - /home/{{ user }}/.config/cinnamon/spices/grouped-window-list@cinnamon.org
    - /home/{{ user }}/.config/cinnamon/spices/calendar@cinnamon.org
    - /home/{{ user }}/.config/cinnamon/spices/menu@cinnamon.org
    - /home/{{ user }}/.themes
- name: Installing cinnamon packages
  become: true
  pacman:
    update_cache: true
    name: "{{ cinnamon_packages }}"
- name: Enabling lightdm
  become: true
  service:
    name: lightdm
    enabled: true
- name: Copy background image
  become: true
  copy:
    src: Wolf.jpg
    dest: /usr/share/pixmaps/background.jpg
- name: Install CBlack theme
  unarchive:
    dest: /home/{{ user }}/.themes
    creates: /home/{{ user }}/.themes/CBlack/
    remote_src: true
    src: https://github.com/Cloweling/cblack/releases/download/v3.0.0/Theme.CBlack.zip
- name: Applying cinnamon desktop style
  copy:
    src: cinnamon.css
    dest: /home/{{ user }}/.themes/CBlack/cinnamon/cinnamon.css
- name: Installing cinnamon applets
  unarchive:
    creates: "/home/{{ user }}/.local/share/cinnamon/applets/{{ item }}"
    dest: /home/{{ user }}/.local/share/cinnamon/applets/
    remote_src: true
    src: "https://cinnamon-spices.linuxmint.com/files/applets/{{ item }}.zip"
  loop: "{{ cinnamon_applets }}"
- name: Configuring system monitor applet
  copy:
    src: applets/applet_perf.json
    dest: /home/{{ user }}/.config/cinnamon/spices/multicore-sys-monitor@ccadeptic23/multicore-sys-monitor@ccadeptic23.json
- name: Configuring power applet
  copy:
    src: applets/power.json
    dest: /home/{{ user }}/.config/cinnamon/spices/power@cinnamon.org/power@cinnamon.org.json
- name: Configuring group window applet
  copy:
    src: applets/group-window.json
    dest: /home/{{ user }}/.config/cinnamon/spices/grouped-window-list@cinnamon.org/2.json
- name: Configuring menu applet
  copy:
    src: applets/menu.json
    dest: /home/{{ user }}/.config/cinnamon/spices/menu@cinnamon.org/0.json
- name: Configuring calendar applet
  copy:
    src: applets/calendar.json
    dest: /home/{{ user }}/.config/cinnamon/spices/calendar@cinnamon.org/13.json
- name: Creating dconf file configuration
  template:
    src: files/dconf.txt
    dest: /tmp/dconf.txt
- name: Importing dconf configuration
  shell:
    cmd: dconf load / < /tmp/dconf.txt
- name: Setting lightdm background
  become: true
  template:
    src: files/lightdm_conf.conf
    dest: /etc/lightdm/lightdm-gtk-greeter.conf
