---
- name: Creating directories for dotfiles
  file:
    path: "{{ item }}"
    state: directory
  loop:
    - "/home/{{ user }}/.ssh"
    - "/home/{{ user }}/.config"
    - "/home/{{ user }}/.config/git"
    - "/home/{{ user }}/.config/discord"
    - "/home/{{ user }}/.config/zed"
- name: Configuring .bash_git
  file:
    src: "{{playbook_dir}}/files/.bash_git"
    path: "/home/{{ user }}/.bash_git"
    state: link
- name: Configuring .bashrc
  template:
    src: files/.bashrc
    dest: "/home/{{ user }}/.bashrc"
- name: Configuring ssh
  file:
    src: "{{playbook_dir}}/files/ssh_config"
    path: "/home/{{ user }}/.ssh/config"
    state: link
- name: Configuring git
  file:
    src: "{{playbook_dir}}/files/git_config"
    path: "/home/{{ user }}/.config/git/config"
    state: link
- name: Configuring discord
  copy:
    src: discord_settings.json
    dest: "/home/{{ user }}/.config/discord/settings.json"
    force: false
- name: Configuring mimeapps
  file:
    src: "{{playbook_dir}}/files/mimeapps.list"
    path: "/home/{{ user }}/.config/mimeapps.list"
    state: link
- name: Configuring Lofree keyboard
  become: true
  file:
    src: "{{playbook_dir}}/files/lofree.conf"
    path: /etc/modprobe.d/lofree.conf
    state: link
    owner: root
  register: lofree
- name: Updating cpio for lofree
  when: lofree.changed == true
  become: true
  shell:
    cmd: mkinitcpio -P
- name: Configuring scroll in Firefox
  become: true
  lineinfile:
    path: /etc/profile.d/use-xinput2.sh
    create: true
    line: export MOZ_USE_XINPUT2=1
- name: Copy Zed settings
  file:
    src: "{{playbook_dir}}/files/zed_settings.json"
    path: /home/{{ user }}/.config/zed/settings.json
    state: link
