---
- name: Creating directories for dotfiles
  file:
    path: "{{ item }}"
    state: directory
  loop:
    - "/home/{{ user }}/.ssh"
    - "/home/{{ user }}/.config"
    - "/home/{{ user }}/.config/git"
    - "/home/{{ user }}/.config/discord"
    - "/home/{{ user }}/.config/zed"
- name: Configuring .bash_git
  copy:
    src: files/.bash_git
    dest: "/home/{{ user }}/.bash_git"
- name: Configuring .bashrc
  template:
    src: files/.bashrc
    dest: "/home/{{ user }}/.bashrc"
- name: Configuring ssh
  copy:
    src: files/ssh_config
    dest: "/home/{{ user }}/.ssh/config"
- name: Configuring git
  copy:
    src: files/git_config
    dest: "/home/{{ user }}/.config/git/config"
- name: Configuring discord
  copy:
    src: discord_settings.json
    dest: "/home/{{ user }}/.config/discord/settings.json"
    force: false
- name: Configuring mimeapps
  copy:
    src: mimeapps.list
    dest: "/home/{{ user }}/.config/mimeapps.list"
- name: Configuring Lofree keyboard
  become: true
  copy:
    src: lofree.conf
    dest: /etc/modprobe.d/lofree.conf
  register: lofree
- name: Updating cpio for lofree
  when: lofree.changed == true
  become: true
  shell:
    cmd: mkinitcpio -P
- name: Configuring scroll in Firefox
  become: true
  lineinfile:
    path: /etc/profile.d/use-xinput2.sh
    create: true
    line: export MOZ_USE_XINPUT2=1
- name: Copy Zed settings
  copy:
    src: zed_settings.json
    dest: /home/{{ user }}/.config/zed/settings.json
