---
# tasks file for pacman_setup
- name: Configuring pacman
  become: true
  copy:
    src: files/pacman.conf
    dest: /etc/pacman.conf
- name: Installing reflector
  become: true
  pacman:
    state: present
    name: reflector
    update_cache: true
  register: reflector
- name: Updating mirrorlist
  become: true
  when: reflector.packages != []
  shell:
    cmd: sudo reflector --latest 20 --protocol https --sort rate --save /etc/pacman.d/mirrorlist
