[Unit]
Description=User suspend actions
Before=sleep.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStart=usr/bin/cinnamon-screensaver-command
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
